@model DoAnBanDienThoai.Models.ViewModels.OrderViewModel;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Thank you section start here-->
<div class="mg-thnaku-page-section">
    <div class="container">
        <div class="mg-thanku-content">
            <div class="mg-thanku-icon">
                <img src="assets/images/icons/Thankyou-icon.svg" alt="">
            </div>
            <span>Thank you for your order</span>
            <p>

            </p>
        </div>
        <div class="mg-thanku-order-details">
            <div class="mg-thanku-heading">
                <span>Order Details</span>
            </div>
            <div class="mg-thanku-order-details-content">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="mg-odc-list-outer">
@*                            <div class="mg-odc-list-inner">
                                <h5>Order ID</h5>
                                <h6>@Model.OrderDTO.OrderID</h6>
                            </div>*@
                            <div class="mg-odc-list-inner">
                                <h5>Order Date</h5>
                                <h6>@Model.OrderDTO.OrderDate</h6>
                            </div>
                            <div class="mg-odc-list-inner">
                                <h5> Email</h5>
                                <h6>@Model.OrderDTO.Email</h6>
                            </div>
                            <div class="mg-odc-list-inner">
                                <h5>Address</h5>
                                <h6>@Model.OrderDTO.Address</h6>
                            </div>
                            <div class="mg-odc-list-inner">
                                <h5>Phone</h5>
                                <h6>@Model.OrderDTO.Phone</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div style="margin-top: 5%" class="mg-social-media-thumb">
                            <img src="~/assets/images/banner/Thanks.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="mg-home-link">
                <a href="/Home">GO HOME <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!--Thank you section end here-->