@model DoAnBanDienThoai.Models.Product
@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--product details section start here-->
<div class="mg-product-deatils-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="mg-product-slider">
                    <div class="mg-slide-img-main">
                        <div class="mg-slide-img">
                            <img src="~/@Model.ProductImage" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="mg-product-details-box">
                    <div class="mg-product-heading">
                        <span>@Model.ProductName</span>
                    </div>
                </div>
                <div class="mg-product-details-list">
                    <div class="mg-price-tax-box">
                        <div class="mg-price">
                            <span>@Model.ProductPrice</span>
                        </div>
                    </div>
                    <span>@Model.ProductDescription</span>
                </div>
                <div class="mg-feature-option-box">
                    <div class="mg-option-lable1">
                        <div class="mg-selection">
                            <div class="mg-selection-title">
                                <span>Storage:</span>
                            </div>
                            <form>
                                <div class="d-flex">
                                    <div class="mg-radio-input">
                                        <input class="form-check-input" type="radio" name="mg-ram" id="mg-ram-16">
                                        <label class="form-check-label" for="mg-ram-16">16 GB</label>
                                    </div>
                                    <div class="mg-radio-input">
                                        <input class="form-check-input" type="radio" name="mg-ram" id="mg-ram-32" checked>
                                        <label class="form-check-label" for="mg-ram-32">32 GB</label>
                                    </div>
                                    <div class="mg-radio-input">
                                        <input class="form-check-input" type="radio" name="mg-ram" id="mg-ram-64" checked>
                                        <label class="form-check-label" for="mg-ram-64">64 GB</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="mg-option-lable2">
                        <div class="mg-selection">
                            <div class="mg-selection-title">
                                <span>Color:</span>
                            </div>
                            <form>
                                <div class="d-flex">
                                    <div class="mg-radio-clr-input">
                                        <input class="form-check-input" type="radio" name="mg-color" id="mg-color-1">
                                        <label class="form-check-label" style="background-color: #d5e6d2;" for="mg-color-1"></label>
                                    </div>
                                    <div class="mg-radio-clr-input">
                                        <input class="form-check-input" type="radio" name="mg-color" id="mg-color-2" checked>
                                        <label class="form-check-label" style="background-color: #fbd4cd;" for="mg-color-2"></label>
                                    </div>
                                    <div class="mg-radio-clr-input">
                                        <input class="form-check-input" type="radio" name="mg-color" id="mg-color-3">
                                        <label class="form-check-label" style="background-color: #dedede;" for="mg-color-3"></label>
                                    </div>
                                    <div class="mg-radio-clr-input">
                                        <input class="form-check-input" type="radio" name="mg-color" id="mg-color-4">
                                        <label class="form-check-label" style="background-color: #d2deea;" for="mg-color-4"></label>
                                    </div>
                                    <div class="mg-radio-clr-input">
                                        <input class="form-check-input" type="radio" name="mg-color" id="mg-color-5">
                                        <label class="form-check-label" style="background-color: #6c6c70;" for="mg-color-5"></label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div>
                        <div class="mg-selection-title">
                            <span>Quantity</span>
                        </div>
                        <div class="mg-quanitity-option-section d-flex">
                            <div class="mg-quanlity-option">
                                <form>
                                    <input class="mg-qty-number" value="1" type="text">
                                </form>
                            </div>
                            <div class="mg-quanlity-option-btn">
                                <button class="mg-qty-plus-btn"><i class="fa-solid fa-plus"></i></button>
                                <button class="mg-qty-minus-btn"><i class="fa-solid fa-minus"></i></button>
                            </div>
                            <div class="mg-ad-cart-btn ms-3">
                                <a class="mg-shop-btn btn btn-default" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.ProductId">ADD TO CART <i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>

@*                <div class="mg-additional-info">
                    <div class="mg-product-details">
                        <div class="mg-product-details-text"><strong>Categories:</strong> <span>@Model.Category.CategoryName</span></div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
<!--product details section end here-->
<!--Description  tab section start here-->
<div class="mg-description-tab-section">
    <div class="container">
        <div class="mg-tabs-box mt-3">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link ms-0 active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-selected="true">DESCRIPTION</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel">
                    <div class="mg-product-description">
                        <p>
                            @Model.ProductDescription
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Description  tab section end here-->
